.coin {
    border: solid 5px black;
    text-align: center;
    background-color: rgb(212, 212, 212);
    color: black;
    width: 200px;
    padding: 15px;
    margin-left: 20px;

    
}

.search{
    width: 400px;
    height: 50px;
    margin-top: 40px;
    margin-left: 650px;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    text-align: center;
}
